{% extends 'admin-side/admindashboard.html' %}
{% load static %}

{% block title %}Add Brand{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Add Brand</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'product_side:add_brand' %}">
                        {% csrf_token %}
                        <div class="d-flex flex-column align-items-center"> <!-- Center the form -->
                            {% if error_message %}
                            <div class="alert alert-danger" role="alert">
                                {{ error_message }}
                            </div>
                            {% endif %}
                            <div class="mb-3">
                                <label for="brand_name">Brand Name</label>
                                <input type="text" class="form-control" id="brand_name" name="brand_name">
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a href="{% url 'product_side:brandlist' %}" class="btn btn-secondary ms-2">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
